/*Styling start*/
body{
    align-content: center;
    text-align: center; 
    background: deepskyblue;

}
h1,h2{
    font-family: "Monotype Corsiva", serif;
    color: white;
}
img{
   width: 500px
}

div{width: 800px;
    margin-right: auto;
    margin-left: auto;
}
.text{
    font-size: larger;
    color: crimson ;
    background: white;
}
.images{
    background: lightsalmon;
    border: 10px solid yellow;
}

.nav-bar{
    border: 5px solid mediumslateblue;
    width: auto;
    background: white;
}
li{
    list-style: none;
    display: inline;
    padding: 10px;
    font-family: "YouTube Sans", "Roboto", sans-serif
}

/*Styling end*/