/*Styling start*/
body{
    background-color: rgba(255, 255, 255, 0.93);
    text-align: center;
}
h1{
    font-family: "YouTube Sans", "Roboto", sans-serif;
    background-color: #d31f8b;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    border-radius: 10px;
    font-style: italic;
    color: white;
}
h2{
    font-family: "Monotype Corsiva", serif;
    color: #000000;
}
p{
    font-size: large;
}
.A, .B, .C, .D, .E{
    background-color: #28bd3a;
    align-content: center;
    box-shadow: 7px 7px 7px rgb(31, 115, 211);
    border: 5px solid mediumvioletred;
    border-radius: 15px;
    height: 50px;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
}
.one, .two, .three, .four {
    background-color: #007aff;
    border: 5px solid chocolate;
    box-shadow: 5px 5px 5px lightseagreen;
    border-radius: 15px;
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.five {
    background-color: rgba(198, 195, 27, 0.93);
    width: 850px;
    margin-right: auto;
    margin-left: auto;
}
/*Styling  end*/
